{
    "executableFile":"abfss://{{ .engineeringWorkspaceId }}@onelake.dfs.fabric.microsoft.com/{{ .engineeringLakehouseId }}/Files/example_spark_job.py",
    "defaultLakehouseArtifactId":"{{ .silverLakehouseId }}",
    "mainClass":"",
    "additionalLakehouseIds":[],
    "retryPolicy":null,
    "commandLineArguments":"{{ .silverWorkspaceId }} {{ .silverLakehouseId }} {{ .goldWorkspaceId }} {{ .goldLakehouseId }}",
    "additionalLibraryUris":[],
    "language":"Python",
    "environmentArtifactId":null
}
